  <div class="container-fluid">
      <nav nav aria-label="breadcrumb" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
                    <ol class="breadcrumb alert alert-secondary"  >
                      
                      <a href="profile.html" >
                        <img alt="logo" class="rounded float-left" style="margin-top: 5px" src="assets/images/currency.png">
                      </a>
                    
              <li class="breadcrumb-item active" style="margin-left: 12px" aria-current="page"><h1 class="display-4">{{title}}</h1></li>
            </ol>
        </div>
        </nav>
      <app-conversor></app-conversor>
    </div>


<router-outlet></router-outlet>
