<br />
<div class="alert alert-danger alert-dismissible fade show" 
	role="alert" *ngIf="possuiErro">
<strong>Ops!</strong> Erro obtendo dados. Tente novamente.
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span>    
</button>
</div>
<div class="card border-info">
	<div class="card-header bg-info">
		<h5 >Selecione a moeda a ser convertida</h5>
	</div>
	<div class="card-body">
	  <form #conversaoForm="ngForm" class="form-inline justify-content-center">
		  <div class="form-group mb-2" >
		<input 
			type="text" 
			name="valor"
			class="form-control text-right"
			placeholder="0" 
			[(ngModel)]="conversao.valor"
			numero
			required>
		</div>
		<div class="form-group mx-sm-3 mb-2">
		<select 
			[disabled]="selectDisabled"
			name="moedaDe"
			class="form-control"
			[(ngModel)]="conversao.moedaDe"
			required>
			<option 
				*ngFor="let moeda of moedas" 
				[value]="moeda.sigla">
				{{ moeda.sigla }} - {{ moeda.descricao }}
			</option>
		</select>
	</div>
		<span>
		<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
	</span>
		<!-- <i class="fa fa-arrow-right" 
			aria-hidden="true"></i> -->
			<div class="form-group mx-sm-3 mb-2">
		<select
			name="moedaPara"
			class="form-control"
			[(ngModel)]="conversao.moedaPara"
			required>
			<option 
				*ngFor="let moeda of moedas" 
				[value]="moeda.sigla">
				{{ moeda.sigla }} - {{ moeda.descricao }}
			</option>
		</select>
	</div>
	<div class="form-group mb-2" >
		<input 
			type="submit" 
			value="Converter"
			class="btn btn-primary"
			data-toggle="modal"
			data-target="#modalCotacao"
			(click)="converter()"
			[disabled]="!conversaoForm.form.valid">
		</div>
	  </form>
	 </div>
	 <modal-cotacao
		 [id]="'modalCotacao'"
		 [conversaoResponse]="conversaoResponse"
		 [conversao]="conversao"
		 (onConfirm)="init()">
		</modal-cotacao>
	 
</div>
